@import '../../global.scss';
.projects {
    width: 95%;
    margin-top: 50px;
    height: auto;
    border-bottom-right-radius: $singleBorderRadius;
    padding: 0.5rem calc((90vw - 1000px) / 2);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

    .project-title {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1 / span 2;
        font-size: 36px;
        height: 50px;
    }

    .project-tile {
        background-color: #ecf1ff;
        display: flex;
        border-radius: 4px;

        .description {
            padding: 1em;
            flex: 1 1 1;
        }

        .img-container {
            flex: 2 1 3;
        }
        img {
            height: 100%;
            width: 100%;
        }
    }

    
    @media screen and (max-width: $transitionWidth) {
        transition: 0.8 all ease;
        width: 80%;
        margin: 0 10%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}