@import "../../global.scss";
.skills {
    background-color: $highlightColor;
    width: 95%;
    height: 500px;
    margin-left: $singleMarginSize;
    border-top-left-radius: $singleBorderRadius;
    padding: 0.5rem calc((90vw - 1000px) / 2);

    @media screen and (max-width: $transitionWidth) {
        transition: 0.8 all ease;
        margin-left: 0;
        width: 100%;

    }
}